# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
ENV/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Local data
*.log
/tmp/
.cache/

# Node / frontend
node_modules/
.dist/
.next/
coverage/

# IDEs
.vscode/
.idea/
